In [3]:
import pandas as pd
pd.__version__
import numpy as np

In [5]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [8]:
df = pd.DataFrame(dict_data, index=['Ana', 'Benito', 'Camilo','Daniel','Erika','Fabian','Gabriela'])
df

          edad   cm pais genero    Q1  Q2
Ana         10  115   co      M   5.0   7
Benito       9  110   mx      F  10.0   9
Camilo      13  130   co      F   8.0   9
Daniel      14  155   mx      M   NaN   8
Erika       12  125   mx      M   7.0   8
Fabian      11  120   ch      M   8.0   8
Gabriela    12  125   ch      F   3.0   9

In [9]:
df.index

Index(['Ana', 'Benito', 'Camilo', 'Daniel', 'Erika', 'Fabian', 'Gabriela'], dtype='object')

In [10]:
df.columns

Index(['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2'], dtype='object')

In [13]:
df.values

array([[10, 115, 'co', 'M', 5.0, 7],
       [9, 110, 'mx', 'F', 10.0, 9],
       [13, 130, 'co', 'F', 8.0, 9],
       [14, 155, 'mx', 'M', nan, 8],
       [12, 125, 'mx', 'M', 7.0, 8],
       [11, 120, 'ch', 'M', 8.0, 8],
       [12, 125, 'ch', 'F', 3.0, 9]], dtype=object)

In [14]:
df['edad']

Ana         10
Benito       9
Camilo      13
Daniel      14
Erika       12
Fabian      11
Gabriela    12
Name: edad, dtype: int64

In [16]:
df[['edad','cm','Q1']]

          edad   cm    Q1
Ana         10  115   5.0
Benito       9  110  10.0
Camilo      13  130   8.0
Daniel      14  155   NaN
Erika       12  125   7.0
Fabian      11  120   8.0
Gabriela    12  125   3.0

In [19]:
df.loc[['Ana','Erika'],['edad','cm','Q1']]

       edad   cm   Q1
Ana      10  115  5.0
Erika    12  125  7.0

In [20]:
 df.iloc[2,1]

130

In [21]:
df.iloc[2,[1,3]]

cm        130
genero      F
Name: Camilo, dtype: object

In [23]:
df.iloc[[5,6], :]

          edad   cm pais genero   Q1  Q2
Fabian      11  120   ch      M  8.0   8
Gabriela    12  125   ch      F  3.0   9

In [26]:
df['edad'] >=12

Ana         False
Benito      False
Camilo       True
Daniel       True
Erika        True
Fabian      False
Gabriela     True
Name: edad, dtype: bool

In [27]:
df[df['edad'] >=12 ]

          edad   cm pais genero   Q1  Q2
Camilo      13  130   co      F  8.0   9
Daniel      14  155   mx      M  NaN   8
Erika       12  125   mx      M  7.0   8
Gabriela    12  125   ch      F  3.0   9

In [33]:
  df[(df['edad'] >=12) & (df['pais'] =='mx') ]

        edad   cm pais genero   Q1  Q2
Daniel    14  155   mx      M  NaN   8
Erika     12  125   mx      M  7.0   8

In [36]:
df.query('edad>=12')

          edad   cm pais genero   Q1  Q2
Camilo      13  130   co      F  8.0   9
Daniel      14  155   mx      M  NaN   8
Erika       12  125   mx      M  7.0   8
Gabriela    12  125   ch      F  3.0   9

In [37]:
df['Q2'] > df['Q1']

Ana          True
Benito      False
Camilo       True
Daniel      False
Erika        True
Fabian      False
Gabriela     True
dtype: bool

In [38]:
df[df['Q2'] > df['Q1']]

          edad   cm pais genero   Q1  Q2
Ana         10  115   co      M  5.0   7
Camilo      13  130   co      F  8.0   9
Erika       12  125   mx      M  7.0   8
Gabriela    12  125   ch      F  3.0   9